#viz_datatable button, #ceviz_datatable button {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin-bottom: 5px;
    outline: none !important;
}
#viz_datatable button:focus, #ceviz_datatable  button:focus,
#viz_datatable button, #ceviz_datatable  button {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
#viz_datatable button:hover, #ceviz_datatable  button:hover,
#viz_datatable button:focus, #ceviz_datatable  button:focus {
    color: #333;
    text-decoration: none;
}
#viz_datatable button:active, #ceviz_datatable  button:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.ceviz_hover_anim {
    animation: backcolor 1s 1;
}

@keyframes backcolor {
    from {background-color: red;}
    to {background-color: blue;}
}